---
###############################################################
#                   Authelia configuration                    #
###############################################################

server:
  host: 0.0.0.0
  port: 9091

log:
  level: debug # trace, debug, info, warn, error

default_redirection_url: https://{{ authelia_subdomain_name }}.{{ domain_name }}

totp:
  issuer: authelia.com
  period: 30
  skew: 1

authentication_backend:
  file:
    path: /config/users_database.yml
    password:
      algorithm: argon2id
      iterations: 1
      parallelism: 8
      memory: 64 

access_control:
  default_policy: deny
  rules:
    - domain: {{ authelia_subdomain_name }}.{{ domain_name }}
      policy: bypass
    - domain: {{ traefik_subdomain_name }}.{{ domain_name }}
      policy: one_factor
    - domain:
      - "*.{{ domain_name }}"
      - "{{ domain_name }}"
      policy: two_factor

session:
  name: authelia_session
  expiration: 3600  # 1 hour
  inactivity: 300  # 5 minutes
  domain: {{ domain_name }}

  redis:
    host: authelia_redis
    port: 6379

regulation:
  max_retries: 3
  find_time: 120
  ban_time: 300

storage:
  mysql:
    host: authelia_db
    port: 3306
    database: {{ authelia_db_name }}
    username: {{ authelia_db_username }}

notifier:
  filesystem:
    filename: /config/notification.txt
